---
import LogoSolidari from "../../assets/LogoSolidari.astro"
import Menu from "./menu.svelte";
import s from "./styles"
---
<header>
	<nav class={s.Nav}>
		<div class={s.start}></div>
		<div class={s.center}>
			<a href="/" class={s.enlacePaginaPrincipal} aria-label="Ir a página principal">
				<LogoSolidari/>
			</a>
		</div>
		<Menu client:load/>
	</nav>
</header>