---

import s from './styles';
---



<main class= "flex flex-col sm:flex-row h-screen overflow-hidden">
	<section class = "w-full sm:w-1/2 h-full flex flex-col justify-start items-start relative overflow-hidden text-black p-1 box-border order-2 sm:order-1">
		<h1 class="text-[7vw] sm:text-[3.5vw]  leading-[1.3] mt-[6vw] sm:mt-[4vw] ml-[5.7vw]  mb-0 font-bold">
			SE PARTE DE LA <br>
			REVOLUCIÓN DEL <br>
			CRÉDITO EN LATAM <br>
		</h1>
	
		<p class="text-[2.96vw] sm:text-[1.47vw] m-5 ml-[5.7vw] font-semibold ">
			EN SOLIDARI TRANSFORMAMOS EL ACCESO AL <br>
			FINANCIAMIENTO PORQUE SOMOS:
		</p>


	
		<div class="flex flex-row items-center gap-2 sm:gap-1 m-5 ml-[5.7vw]">
	
			<p class="bg-white text-black border border-black py-[1%] px-[6%] rounded-xl text-[2.5vw] sm:text-[1.1vw] ">TECNOLOGÍA</p>
			<p class="bg-white text-black border border-black py-[1%] px-[6%] rounded-xl text-[2.5vw] sm:text-[1.1vw] sm:translate-y-[5vw] ">INCLUSIÓN</p>
			<p class="bg-white text-black border border-black py-[1%] px-[6%] rounded-xl text-[2.5vw] sm:text-[1.1vw] sm:translate-y-[10vw] ">TRANSPARENCIA</p>
			</div>

		</section>



	<section class="w-full sm:w-1/2 h-full bg-white relative order-1 md:order-2">
		
		<picture>
			<!-- Para móviles -->
			<source 
					media="(max-width: 767px)"
					srcset="/hombre-feliz-celular.webp 1x">
			
			<!-- Para tablets -->
			<source 
					media="(min-width: 768px) and (max-width: 1023px)"
					srcset="/hombre-feliz-tablet.webp 1x">
			
			<!-- Para escritorio -->
			<source 
					media="(min-width: 1024px)"
					srcset="/hombre-feliz-pc.webp 1x">
			
			<!-- Imagen de respaldo -->
			<img 
					src="/hombre-feliz-pc.webp" 
					alt="Hombre feliz de cómo Solidari cambió su vida y ahora es mejor">
	</picture>
	</section>

</main>
