---
import Layout from '../layouts/Layout.astro';
import logo from '../assets/Group.png';
---

<Layout>
<div >
  <h2>esto seria un texto con moserrat</h2>
<h1>SOLIDARI</h1>
<img src={logo.src} alt="el logo de solidari"/>
</div>
</Layout>
