---
import LogoMainPage from "../../assets/LogoMainPage.astro"
import s from './styles'
---
<footer class={s.footer}>
	<aside class={s.footerAside}>
		<LogoMainPage className={s.footerAsideSVG}/>
		<p>Copyright © {new Date().getFullYear()} - All right reserved</p>
	</aside>
</footer>