---
import s from './styles'
---

<footer class={s.footer}>
	<aside>
		<p class={s.p}>
			Copyright © {new Date().getFullYear()} Solidari Colombia SA. Todos los derechos reservados
		</p>
	</aside>
</footer>
